<web-app>
    <display-name>Guice Hello</display-name>

    <context-param>
        <param-name>resteasy.guice.modules</param-name>
        <param-value>com.stefanjiroveanu.module.GuiceModule</param-value>
    </context-param>

    <listener>
        <listener-class>
            com.stefanjiroveanu.listener.GuiceConfig
        </listener-class>
    </listener>

    <filter>
        <filter-name>RESTEasy</filter-name>
        <filter-class>org.jboss.resteasy.plugins.server.servlet.FilterDispatcher</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RESTEasy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>